.navbar {
    height: 10vh;
    padding: 0.5em;
    background-color: #F55A5A;
    display: flex;
    align-items: baseline;
    justify-content: center;
    color: #fff;
    gap: 1em;
}

.nav-logo {
    align-self: center;
    font-size: 2rem;
}

.nav-title {
    font-size: 1.5rem;
    align-self: center;
}